.Main {
  font-family: sans-serif;
  background-color: white;
  width: 100%;
  display: block;
  text-align: center;
}

.SlotBox {
  /* padding-top: 40px; */
  height: 240px;
  width: 240px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-style: solid;
  justify-content: center;
  overflow: hidden;
  line-height: 4;
}
.BetAndCredit {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.SlotBoxArea {
  display: flex;
  justify-content: center;
}
.SlotReelContainer {
  position: relative;
  /* top: 0px; */
  /* transition: top ease-in-out 0.6s; */
}
.animation {
  /* animation: mymove 0.6s forwards ease-in-out; */
}
@keyframes mymove {
  from {
    /*top: -1200px;*/
    filter: blur(0px);

    transform: translateY(-2000px);
  }
  to {
    /* top: 0px; */
    filter: blur(0px);
    /* transform: scale(1.5); */
    transform: translateY(0px);
  }
}

.Spinning {
  animation: blinking 2s infinite ease-in-out;
}
@keyframes blinking {
  0% {
    color: #fff;
  }
  60% {
    color: #fff;
  }
  99% {
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
