
.nftpreview1 {
  width: 128px;
  height: 128px;
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.8));
  border-radius: 8px;
  object-fit: cover;
}
.viewMore {
  cursor: pointer;
}
@keyframes spinner {
  from {
    /*top: -1200px;*/
    filter: blur(0px);

    transform: translateY(-2000px);
  }
  to {
    /* top: 0px; */
    filter: blur(0px);
    /* transform: scale(1.5); */
    transform: translateY(0px);
  }
}

